---
interface Props {
  title?: string;
  children: any;
}

let { title } = Astro.props;
const url = Astro.url.toString();

import { ClientRouter } from "astro:transitions";
import { Font } from "astro:assets";
import Analytics from "@vercel/analytics/astro";
import SpeedInsights from "@vercel/speed-insights/astro";

import "styles/global.css";

import Header from "components/Header.astro";
import Footer from "components/Footer.astro";
import NotificationProvider from "components/ui/NotificationProvider";

if (title === undefined) {
  const pathnameParts = Astro.url.pathname.split("/");
  let path = pathnameParts.pop();
  if (path === undefined || path === "") {
    path = pathnameParts.pop() ?? "Home";
  }
  title = path.charAt(0).toUpperCase() + path.slice(1);
}
---

<!doctype html>
<html lang="en-US">
  <head transition:name="head">
    <meta charset="utf-8" />
    <title>{title} | AntCal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Create publication quality figures" />
    <meta property="og:title" content={`${title} | AntCal`} />
    <meta
      property="og:description"
      content="Create publication quality figures"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta
      property="og:image"
      content="https://github.com/user-attachments/assets/a54062eb-d3ff-4fa0-94b6-8d441a436c37"
    />
    <meta
      property="og:image:alt"
      content="Screenshot of the AntCal app showing vector field visualization"
    />
    <meta name="twitter:title" content={`${title} | AntCal`} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:description"
      content="Create publication quality figures"
    />
    <meta name="twitter:url" content={url} />
    <meta
      name="twitter:image"
      content="https://github.com/user-attachments/assets/a54062eb-d3ff-4fa0-94b6-8d441a436c37"
    />
    <meta
      name="twitter:image:alt"
      content="Screenshot of the AntCal app showing vector field visualization"
    />
    <meta name="twitter:creator" content="@Atlanswer" />
    <meta name="twitter:site" content="@Atlanswer" />
    <meta name="color-scheme" content="light dark" />
    <meta name="theme-color" content="#ffffff" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#000000"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/ios/1024.png" />
    <link
      rel="manifest"
      type="application/manifest+json"
      href="/app.webmanifest"
    />
    <Font cssVariable="--font-geist-sans" preload />
    <Font cssVariable="--font-geist-mono" />
    <script is:inline>
      function syncTheme() {
        switch (localStorage.getItem("theme")) {
          case "dark":
            document.documentElement.classList.add("dark");
            break;
          case "light":
            document.documentElement.classList.remove("dark");
            break;
          default:
            if (globalThis.matchMedia("(prefers-color-scheme: dark)").matches) {
              document.documentElement.classList.add("dark");
            } else {
              document.documentElement.classList.remove("dark");
            }
            localStorage.setItem("theme", "system");
        }
      }
      syncTheme();
      document.addEventListener("astro:after-swap", syncTheme);
    </script>
    <ClientRouter />
    <slot name="head-extra" />
    <Analytics />
    <SpeedInsights />
  </head>
  <body
    class="flex min-h-screen min-w-64 flex-col font-sans text-black subpixel-antialiased dark:text-white"
  >
    <noscript>AntCal: You need to enable JavaScript to run this app.</noscript>
    <Header />
    <main class="flex-1" transition:name="main" transition:animate="slide">
      <slot />
    </main>
    <Footer />
    <NotificationProvider client:only="solid-js" />
  </body>
</html>
